@import "react-slideshow-image/dist/styles.css";

:root {
  /**
   * COLORS
   */

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: #ffdb70;
  --vegas-gold: #ceb15a;
  --light-gray: #d6d6d6;
  --light-gray-70: #d6d6d6b3;
  --bittersweet-shimmer: #b84c4c;

  /**
   * TYPOGRAPHY
   */

  /* font-family */
  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-family: var(--ff-poppins);
}

body {
  background: var(--smoky-black);
}

/*-----------------------------------*\
  # COMPONENT STYLES
\*-----------------------------------*/
.error {
  font-size: var(--fs-1);
  color: var(--bittersweet-shimmer);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------LOADER  --------  */
:root {
  --radius: 50;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle-svg circle {
  stroke: var(--bg-gradient-yellow-1);
  stroke-width: 4;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: var(--circumference);
  animation: spinner 4s ease-out infinite;
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    stroke: hsla(35, 100%, 68%, 0.268);
    transform: rotateZ(0deg);
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    stroke: hsl(35, 100%, 68%);
    transform: rotateZ(720deg);
  }
}
.heading {
  color: var(--white-1);
  padding: 10px 0;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.sidebar,
.layout {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
}
